<div id="artistData"">
        <script type="text/javascript">
       var artistData = document.getElementById(artistcard-template").innerHTML;
       var template = Handlebars.compile(artistData);
       Handlebars.registerHelper("makeLink",function(text,url){
         text = handlebars.utils.escapeExpression(text);
         url = handlebars.utils.escapeExpression(url);

         var theLink = '<a href="'+url+'">'+text+'</a>';
         return new handlebars.SafeString(theLink);
       });
          document.getElementById("artistData").innerHTML += artistData;

       var artistData = template ({
         username: "",
         email: "",
         location: "",
         website: "",
         description: "",
         profile_pic: "",
         works: [""],
         artist_type: "",
         opento_commision: "",

       })

      </div>

{{!-- artistcard}}

<script id="artistcard-template" type="text/x-handlebars-template">
<div class="artist">

<img>{{profile_pic}}</img><br/>

<div class="artist-bio">
<h3>{{username}}</h3>
<h4>{{email}}<h4>
<p>{{location}}<p>
<p>{{website}}<p>
<p>{{description}}<p>
<h4>{{artist_type}}<h4>
<p>{{opento_commision}}<p>
<img>{{works}}</img>
</div>
</div>


Username: {{username}}
Email: {{email}}
Location: {{location}}
Website: {{website}}
Description: {{description}}
Profile_pic: {{profile_pic}}
Works: {{works}}
Artist type: {{artist_type}}
Open tocommision: {{opento_commision}}
