{{!-- artistcard--}}

  <section id="your-artists">
      <div class="flex-row">
        <h2 class="section-title2 primary-border ">Meet The Artists</h2>
      </div>
      {{#each artists as |artist|}}
<div class="artist" class="flex-row">
<img src="{{artist.profile_pic}}"/> </br>

<div class="artist-bio">
<h3>{{artist.username}}</h3>
 <h4>{{artist.location_ID}}<h4></h4>
<h4>{{artist.artist_type}}<h4>
 
<a href="mailto:{{artist.email}}">Email:&nbsp;{{artist.email}}</a>
</br>

<a href="{{artist.website}}">Website:&nbsp;{{artist.website}}</a></br>
</br>
<p>{{artist.description}}<p>
</br>
<p>Open to Commision :&nbsp;  {{artist.opento_commision}}<p>

  </br></br>
  <div class="sample_works">
  {{#each artist.work_samples as |work_sample|}}
<img class="samples"src="{{work_sample}}"/>
{{/each}}
</div>
</div>
</div>
{{/each}} 




